.section-flex {
  display: flex;
  width: 100%;

  &__info {
    flex: 0 0 33.33%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    flex: 0 0 66.66%;
    padding: 40px;
    
    img {
      width: 100%;
      filter: grayscale(1);
      transition: filter 0.4s ease;
      &:hover { filter: grayscale(0); }
    }
  }
}