@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.sub-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-center;
    background-color: rgb(204, 204, 204, 0.8);
    backdrop-filter: blur(4px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
}

.sub-modal {
    cursor: auto;
    width: calc(100% - 40px);
    max-width: 450px;
    padding: 50px 24px 40px;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-accent);
    color: $white-clr;
    text-align: center;
    border-radius: 2px;

    @include mq($tablet) {
        padding: 60px 50px;
    }

    &__close-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 8px;
        background: transparent;
        border: none;
        font-size: 32px;
        line-height: 0.5;
        cursor: pointer;
        color: #333;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__title {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        margin-bottom: 16px;

        @include mq($tablet) {
            font-size: 36px;
        }
    }
    &__subtitle {
        font-size: 14px;
        line-height: 1.6;
        color: #4a4a4a;
        margin-bottom: 32px;
    }

    &__input-box {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        border-bottom: 1px solid $dark-color;
        padding-bottom: 8px;
        margin-bottom: 16px;

        @include mq($tablet) {
            flex-direction: row; 
            align-items: flex-end;
            gap: 10px;
        }
    }

    &__input {
        width: 100%;
        background: transparent;
        border: none;
        font-size: 16px;
        outline: none;
        padding: 8px 0;

        &::placeholder {
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $soft-text;
        }
    }

    &__submit-btn {
        background: transparent;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        cursor: pointer;
        padding: 8px 0;
        white-space: nowrap; 

        &:hover {
            color: $hover-soft-text;
        }
    }

    &__footer {
        font-size: 10px;
        color: $soft-text;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-top: 10px;
    }
}