@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.news {
    &__title {
        font-size: 36px;
        @include inner-margin;

        @include mq($tablet) {
            font-size: 64px;
        }
    }

    &__bottom-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 335px;

        @include mq($tablet) {
            width: 380px;
        }
    }

    &__text {
        @include mq($desktop) {
            font-size: 18px;        
        }        
    }

    @include mq($tablet) {
        display: flex;
        flex-direction: column;
    }

    @include mq($desktop) {
        margin-left: 21%;
    }

}