@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.registr {
    &__title {
        font-size: 36px;
        margin-bottom: 80px;
    }

    &__second-box  {
        display: flex;
        flex-direction: column;
        gap: 24px;
    
        width: 335px;
    }

    @include mq($tablet) {
        &__subtitle {
            font-size: 24px;
        }

        &__title {
            font-size: 64px;
            margin-bottom: 120px;
        }

        &__second-box {
            width: 380px;
        }
    }

    @include mq($desktop) {
        &__subtitle {
            margin-top: 20px;
            font-size: 32px;
            width: 275px;
        }

        &__title {
            font-size: 64px;
            margin-bottom: 208px;
        }

        display: flex;
        gap: 20px;
    }

}

#open-classes {
    height: 43px;
    width: 122px;
    background-color: transparent;
    border-color: #000000;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}
