.rg-title {
    font-size: 36px;
    margin-bottom: 80px;
}

.rg-second-box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 335px;
}

#open-classes {
    height: 43px;
    width: 122px;
    background-color: transparent;
    border-color: #000000;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

@media only screen and (min-width: 768px) {
    .rg-subtitle {
        font-size: 24px;
    }

    .rg-title {
        font-size: 64px;
        margin-bottom: 120px;
    }

    .rg-second-box {
        width: 380px;
    }
}

@media only screen and (min-width: 1440px) {
    .rg-subtitle {
        margin-top: 20px;
        font-size: 32px;
        width: 275px;
    }

    .rg-title {
        font-size: 64px;
        margin-bottom: 208px;
    }

    .rg-container {
        display: flex;
        gap: 20px;
    }
}