
$bg-color: #e5dadb;
$border-opacity: rgba(0, 0, 0, 0.1);
$info-width: 33.333%; 
$image-width: 66.666%; 

.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap; 
}

.border-b { border-bottom: 1px solid $border-opacity; }
.border-l { border-left: 1px solid $border-opacity; }


.section-info {
  flex: 0 0 $info-width;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; 

  &__title {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__desc {
    font-size: 0.875rem;
    line-height: 1.6;
    max-width: 320px;
  }
}

.section-image {
  flex: 0 0 $image-width;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 0.5s ease;

    &:hover {
      filter: grayscale(0);
    }
  }
}

@media (max-width: 1024px) {
  .section-info, .section-image {
    flex: 0 0 100%; 
    border-left: none;
  }
  
  .section-info {
    min-height: auto;
    border-bottom: 1px solid $border-opacity;
  }
}