$light-bg: #EFE6EB;
$light-text: #242424;

$dark-bg: #1a1a1a;
$dark-text: #f5f5f5;

$font-main: 'Rethink Sans', sans-serif;
$font-accent: 'Playfair Display', serif;

$tablet: 768px;
$desktop: 1440px;

$white-clr: #fff;

$shadow-soft: 0 4px 20px rgba(36, 36, 36, 0.5);

$border-clr: #000000;

$bg-color: #e5dadb;
$border-opacity: rgba(0, 0, 0, 0.1);
$info-width: 33.333%;
$image-width: 66.666%;