$light-bg: #EFE6EB;
$light-text: #242424;

$dark-bg: #1a1a1a;
$dark-text: #f5f5f5;

$soft-text: #999;
$hover-soft-text: #777;

$font-main: 'Rethink Sans', sans-serif;
$font-accent: 'Playfair Display', serif;

$tablet: 768px;
$desktop: 1440px;

$white-clr: #fff;
$dark-color: #1a1a1a;

$shadow-soft: 0 4px 20px rgba(36, 36, 36, 0.5);

$border-clr: #000000;

