<section id="news-section">
    <hr id="section-line">
    <div class="container news">
        <h2 class="news__title">Studio News</h2>

        <div class="news__bottom-box">
            <p class="news__text">Receive insightful articles, training tips, and inspiring stories from our studio. <br>Stay informed about upcoming classes,
            workshops, and performance opportunities.</p>

            <button type="button" id="subscribe-btn" class="btn btn__primary">Subscribe</button>
        </div>
    </div>
</section>