<section class="registration grid-container border-b">
    <div class="registration__title-box">
        <h2 class="section-subtitle">Spring 2025</h2>
    </div>
    <div class="registration__content border-l">
        <h2 class="large-title">Registration Open!</h2>
        <div class="registration__details">
            <p>Rhythm Ballet is excited to announce open registration for the upcoming semester. Dancers of all ages and skill levels are invited to join our vibrant community.</p>
            <button class="btn-outline">View Classes</button>
        </div>
    </div>
</section>