<section id="registration">
    <div class="container">
        <h3 class="rg-subtitle">
            Spring <span id="rg-current-year"></span>
        </h3>

        <div class="rg-main-box">
            <h2 class="rg-title">Registration Open!</h2>

            <p class="rg-description">
                Rhythm Ballet is excited to announce open registration for the upcoming semester! Dancers of all ages and skill levels
                are invited to join our vibrant community, where we nurture creativity and foster a love for dance.
            </p>

            <button type="button">View Classes</button>
        </div>

    </div>
</section>