:root {
  --font-main: 'Rethink Sans', sans-serif;
  --font-accent: 'Playfair Display', serif; 
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #EFE6EB;
}

body {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

h1, h2 {
  font-family: var(--font-accent);
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}
