/* Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Rethink Sans - основний текст */
@font-face {
    font-family: 'Rethink Sans';
    src: url('./fonts/RethinkSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}